<MainBody @nonhis={{true}}>
    <div class="history">
    <button type="button" {{on "click" this.greet}}>Greet me</button>
    <button type="button" {{on "click" this.transs}} class="startingpage">Click me for starting page</button>

    <h3>The history for the present session</h3>
    
    <Clear @model={{@model}}/>



</div>
</MainBody>