<div id="head">
    <a href="https://zoho.com/"><img src="/Images/zoho-img.png" alt="zoho link" width="70" height="30"></a>
    <h2><LinkTo @route="index">Calculator</LinkTo></h2>
    <div id="head-right">
    <h4><LinkTo @route="calci.historydisplay" class="nav-hist">History</LinkTo></h4>
    </div>
</div>