<div class="main-body">
    {{#if this.nonhis}}
        <div id="head">
            <a href="https://www.calculator.net/"><img src="Images/logo.png" alt="zoho link" width="80" height="40"></a>
            <h2><LinkTo @route="index">Calculator</LinkTo></h2>
            <div id="head-right">
                <h4><LinkTo @route="calci" class="nav-hist">Go Back</LinkTo></h4>
            </div>
        </div>
    {{else}}
        <div id="head">
            <a href="https://www.calculator.net/"><img src="Images/logo.png" alt="zoho link" width="80" height="40"></a>
            <h2><LinkTo @route="index">Calculator</LinkTo></h2>
            <div id="head-right">
                <h4><LinkTo @route="calci.historydisplay" class="nav-hist">History</LinkTo></h4>
            </div>
        </div>
    {{/if}}
    {{yield}}
</div>